body {
  text-align: center;
  background-color: #81B29A ;
  color: #3D405B ;
}

.section {
  margin: 2vw;
  padding: 2vw;
  border-radius: 5px;
  background-color: #F4F1DE;
  border: 2px solid #3D405B;
}

.win {
  color: green;
}
.lose {
  color: red;
}
.test{
  background-color: #81B29A;
}